.main {
  .edu {

    @include breakpoint-up(large) {
      text-align: left;

      span {
        display: none;
      }
    }

    h3 {
      margin-bottom: 0.625rem;
    }

    &__table {
      width: 100%;

      tr {

        td:last-child { 
          display: none;

          @include breakpoint-up(large) {
            display: table-cell;
            text-align: right;
          }
        }
        td:first-child {
          @include breakpoint-up(large) {
            width: 60%;
          }
        }
      }
    }
  }
}