$red: rgba(247, 110, 110, 1);
$red-layer: rgba(160, 28, 28, 0.65);
$blue: rgba(28, 28, 69, 1);
$grey-text: rgba(229, 229, 229, 1);
$grey-bckgrnd: rgba(238, 238, 244, 0.95);
$grey-line: rgba(196, 196, 196, 1);
$yellow: rgba(238, 204, 118, 1);
$dark-blue: rgba(16, 16, 54, 1);
$dark-grey: rgba(155, 155, 155, 1);